@font-face {
  font-family: 'Righteous-Regular';
  src: local('Righteous-Regular'),
    url(./fonts/Righteous-Regular.ttf) format('truetype');
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header {
  font-family: Righteous-Regular;
}
