@font-face {
  font-family: 'Righteous-Regular';
  src: local('Righteous-Regular'),
    url(./fonts/Righteous-Regular.ttf) format('truetype');
}

html {
  background-color: black;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

label {
  display: block;
}

a:hover {
  color: #818181;
}

ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.navItems {
  display: flex;
  flex-direction: row;
  font-family: 'Righteous-Regular';
  justify-content: space-between;
  align-items: center;
}

.navLeft .navRight {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

li {
  float: left;
  display: flex;
  flex-direction: row;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  flex-shrink: 2;
}

.welcome-container {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: flex-end;
  padding-bottom: 3px;
}

.welcome {
  color: #f1f1f1;
  padding-right: 3%;
  font-family: Righteous-Regular;
}

.logo {
  padding-top: 30px;
  font-size: 40px;
}

span {
  color: red;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header {
  font-family: Righteous-Regular;
}

.sidenav {
  height: 50%;
  width: 240px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding: 20px 10px 20px;
  color: #f1f1f1;
}

/* Style the sidenav links and the dropdown button */
.sidenav h1,
.dropdown-selected {
  color: #f1f1f1;
}

.sidenav-header {
  font-family: 'Righteous-Regular';
  padding: 6px 8px 6px 16px;
  margin-top: 0;
}

.dropdown-btn {
  font-family: 'Righteous-Regular';
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav h1:hover,
.dropdown-btn:hover,
.dropdown-selected,
.dropdown-place h4:hover {
  color: #f1f1f1;
}

.dropdown-place {
  font-family: 'Righteous-Regular';
  text-decoration: none;
  padding: 6px 8px 6px 16px;
  font-size: 16px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-place h4 {
  margin: 0px;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  color: #818181;
  padding-left: 16px;
}

.active:hover {
  color: #f1f1f1;
}

.mapboxgl-popup h3 {
  font-family: 'Righteous-Regular';
}

.place-tag {
  background-color: black;
  font-family: 'Righteous-Regular';
  border-radius: 4px;
  color: white;
  padding: 2px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}

.place-tag:empty {
  display: none;
}

.place-list-tag {
  background-color: white;
  font-family: 'Righteous-Regular';
  border-radius: 4px;
  color: black;
  padding: 2px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}

.place-list {
  color: white;
}

.place-list-header {
  font-family: 'Righteous-Regular';
  display: flex;
  justify-content: space-between;
}

.place-list-header a {
  align-self: center;
}

.place-form {
  font-family: 'Righteous-Regular';
  color: white;
}

.marker-btn {
  display: block;
  border: none;
  background: none;
  font-size: 20px;
  /* width: 100%; */
  cursor: pointer;
  outline: none;
}
